.main img{
  padding: 2% 2%;
  width: 60%; 
  border-radius: 50%;
}
.footer {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
  width: 100%;
}

.footer a {
  float: left;
  font-size: 14px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.footer a:hover {
  float: left;
  font-size: 14px;
  color: rgb(43, 43, 43);
  text-align: center;
  text-decoration: none;
  cursor: default;
  background-color: #ffffff;
}

.bullet{
  text-align: left;
  padding: 10%;
}

.links a{
  text-decoration: none;
  cursor: default;
}

.links a:visited{
  text-decoration: none;
  cursor: default;
}

ul {
  text-align: left;
}

.no-script {
  font-size:  50%;
}